# UCI MTB DH Data Retrieval

## Setup
#### Import Libraries

If you do not have these libraries available, you should install them using `pip`

```
pip install requests
pip install bs4
pip install pandas
```

In [293]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import datetime as dt
import os

In [294]:
def calculate_age(born):
    today = dt.date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

Widen display area to prevent column wrapping, and always show all columns for debug

In [295]:
pd.set_option('display.width', 2000)
pd.set_option('display.max_columns', None)

## Config

Which race data are we collecting?

1. Losinj
1. Fort William
1. Leogang
1. Val di Sole
1. Vallnord
1. Mont-Sainte-Anne
1. La Bresse

In [296]:
race = 2
gender = 'm'
event = 'dh'

#### Data Sources

The UCI Live Timing API contains a lot of data points, but not all the ones we want (speed being the main one missing), and not even all the ones they include on their own PDF which is frustrating.

Similarly, Roots & Rain also has a lot of the data points, but again not all of them; most notably it's missing timing splits 4 and 5.

Therefore we need to pull from both sources and combine the sets.

We specify the URLs for both sources from which we will extract our data. The UCI API URL can be found by loading the Live Timing page then using your browser's inspector on the Network tab (in Chrome at least) to see the data feed. As the UCI seems to be using a Single Page Application (SPA) here, it's not straight forward to extract this link automagically.

**Note:** The Race list is now maintained as an external python config file `config.py` imported below

In [297]:
from config import races

racename = races[race]['name']
urlUci = races[race]['urls']['uci'] + str(( 3 if 'm' == gender else 6 )) + '/'
urlUciQ = races[race]['urls']['uci'] + str(( 2 if 'm' == gender else 5 )) + '/'
urlRoots = races[race]['urls']['rnr'] + gender + '/'

File handling setup

In [298]:
directory = event + str(race) + '_' + racename
if not os.path.exists(directory):
    os.makedirs(directory)

file_prefix = event + str(race) + '_' + racename + '_' + gender
file_prefix = os.path.join( directory, file_prefix )

# UCI API
### Load Data

These two lines make the actual request to the server, and then converts the JSON string response in to a usable list format (deserialization)

In [299]:
r = requests.get( urlUci ).json()
q = requests.get( urlUciQ ).json()

The API returns with three main sections:

1. `Last Finisher`
 - Racers in order of start time
2. `Results`
 - Racers in finishing rank order
3. `Riders`
 - Personal details on all racers
 
Each contains many data points. To see all the contained data, you can un-comment and execute any of the lines in the next section to explore more.

In [300]:
# display( q )
# display( d['Results'][7] )
# display( d['Riders']['1001'] )
# display( d['Results'][61] )

### Extract Data

Here we iterate over the `Results` sub-set of data to extract the information we care about: basically some identifying info, and their splits.

There is a loop within a loop here as the first iterates over the two result sets qualifying and race, and within that we extract the necessary stats.

If you looked at detail of the returned data set in the last step you might have noticed the rider's name is not stored next to their result, riders are only identified by a reference number. To facilitate our analysis later on it is useful to import each rider's name at this stage by cross-referencing the `Riders` sub-set.

We start with an empty list `lst` and in each loop iteration add an entry (actually a dict) to that list for each rider.

In [301]:
dat = {}
for i, d in enumerate( [ r, q ] ):
    lastStart = d['Riders'][list(d['Riders'].keys())[-1]]['StartOrder']
    pfx = 'q_' if 1 == i else ''

    splits = len(d['Results'][0]['Times'] )
    lst = []
    for idx, row in enumerate( d['Results'] ):
        fin = "Finished" == row['Status']
        res = {
            'name': d['Riders'][str(row['RaceNr'])]['PrintName'],
            'id': row['RaceNr'],
            'uci': d['Riders'][str(row['RaceNr'])]['UciRiderId'],
            'bib': d['Riders'][str(row['RaceNr'])]['RaceNr'],
            pfx + 'status': row['Status'],
            pfx + 'rank': row['Position'] if fin else idx+1,
            pfx + 'speed': np.nan,
            pfx + 'start': d['Riders'][str(row['RaceNr'])]['StartOrder'],
            pfx + 'start_rev': lastStart - d['Riders'][str(row['RaceNr'])]['StartOrder'] +1
        }

        # Add all splits to result set
        for split in range( 0, splits ):
            head = pfx + 'split'
            res[head + str(split+1)] = row['Times'][split]['RaceTime']/1000 if fin else np.nan

        # Append result set to list
        lst.append(res)

    dat[i] = lst

Here we load the completed lists in to Pandas dataframes to facilitate working with the data moving forward

In [302]:
df = pd.DataFrame( dat[0] )
dq = pd.DataFrame( dat[1] )

# Points

Neither data set contains points awarded so we use a reference file and merge

Merge type here must be `outer` so people that finished outside the top 60 men, top 15 women, or DNF, don't get trimmed from the dataset

In [303]:
df_qp = pd.read_csv( event + '_points_qual_' + gender + '.csv', index_col=0 )
df_qp = df_qp.reset_index(drop=False)
dq = dq.merge( df_qp, left_index=True, right_index=True, how="outer")

df_rp = pd.read_csv( event + '_points_race_' + gender + '.csv', index_col=0 )
df_rp = df_rp.reset_index(drop=False)
df = df.merge( df_rp, left_index=True, right_index=True, how="outer")

In [304]:
display( df.head(), dq.head() )

   bib    id            name  rank  speed  split1   split2   split3   split4   split5  start  start_rev    status          uci  r_points
0   16  1016  PIERRON Amaury     1    NaN  60.602  185.501  211.297  247.279  274.452     54          7  Finished  10008827283       200
1   10  1010   VERGIER Loris     2    NaN  60.790  186.001  211.930  248.287  274.722     58          3  Finished  10008723112       160
2    8  1008    BROSNAN Troy     3    NaN  60.101  186.402  212.226  248.301  274.763     57          4  Finished  10007307417       140
3   81  1081    WILSON Reece     4    NaN  61.390  187.453  213.456  249.286  275.775     30         31  Finished  10009563271       125
4   61  1061      BRUNI Loic     5    NaN  60.521  187.518  213.998  250.780  277.039     46         15  Finished  10007544358       110

   bib    id             name  q_rank  q_speed  q_split1  q_split2  q_split3  q_split4  q_split5  q_start  q_start_rev  q_status          uci  q_points
0    2  1002        SHAW Luca       1      NaN    60.014   186.512   212.277   247.485   273.782        2          131  Finished  10008813442      50.0
1    9  1009       HART Danny       2      NaN    60.809   185.396   210.357   247.029   273.870        8          125  Finished  10005470073      40.0
2   10  1010    VERGIER Loris       3      NaN    61.204   187.249   212.537   248.952   274.898        9          124  Finished  10008723112      30.0
3    8  1008     BROSNAN Troy       4      NaN    60.617   187.408   212.731   248.705   275.030        7          126  Finished  10007307417      25.0
4   22  1022  WILLIAMSON Greg       5      NaN    61.259   188.577   214.584   250.636   277.348       21          112  Finished  10006909111      22.0

# Merge and Expand

This code merges the qualifying and race data in to a single data frame, merging only the columns that are unique between them to avoid duplicates. This allows us to do more in depth analysis later on.

As we merged race in to quali, we re-sort the resulting dataset by race rank

In [305]:
dfq = dq.merge( df[['id'] + list(df.columns.difference( dq.columns ))], left_on='id', right_on='id', how='outer' )
dfq = dfq.sort_values( 'rank', ascending=True )
dfq = dfq.reset_index( drop=True )
dfq['points'] = dfq['r_points'].fillna(0) + dfq['q_points'].fillna(0)

#### Expand Dataset

Calculate and add all the extra columns we need for split and sector differences and their rankings

In [306]:
for pfx in [ 'q_', '' ]:
    for i in range( 1, splits+1 ):
        split = pfx + 'split' + str(i)
        sector = split + '_sector'
        dfq[split + '_rank'] = dfq[split].rank(method='dense')
        dfq[split + '_vs_best'] = (dfq[split] - dfq[split].min())
        dfq[split + '_vs_winner'] = (dfq[split] - dfq[split][0])

        if i > 1:
            dfq[split + '_sector'] = dfq[split] - dfq[pfx + 'split' + str(i-1)]
            dfq[split + '_sector_rank'] = dfq[sector].rank(method='dense')
            dfq[split + '_sector_vs_best'] = (dfq[sector] - dfq[sector].min())
            dfq[split + '_sector_vs_winner'] = (dfq[sector] - dfq[sector][0])

We can take a peek at our data at this point to make sure it looks how we expect.

At this point the `speed` column is NaN (Not a Number) for all racers. This will be filled in below.

In [307]:
display( dfq.head(10) )

   bib    id                        name  q_rank  q_speed  q_split1  q_split2  q_split3  q_split4  q_split5  q_start  q_start_rev  q_status          uci  q_points  r_points  rank  speed  split1   split2   split3   split4   split5  start  start_rev    status  points  q_split1_rank  q_split1_vs_best  q_split1_vs_winner  q_split2_rank  q_split2_vs_best  q_split2_vs_winner  q_split2_sector  q_split2_sector_rank  q_split2_sector_vs_best  q_split2_sector_vs_winner  q_split3_rank  q_split3_vs_best  q_split3_vs_winner  q_split3_sector  q_split3_sector_rank  q_split3_sector_vs_best  q_split3_sector_vs_winner  q_split4_rank  q_split4_vs_best  q_split4_vs_winner  q_split4_sector  q_split4_sector_rank  q_split4_sector_vs_best  q_split4_sector_vs_winner  q_split5_rank  q_split5_vs_best  q_split5_vs_winner  q_split5_sector  q_split5_sector_rank  q_split5_sector_vs_best  q_split5_sector_vs_winner  split1_rank  split1_vs_best  split1_vs_winner  split2_rank  split2_vs_best  split2_vs_winner  split2_sector  split2_sector_rank  split2_sector_vs_best  split2_sector_vs_winner  split3_rank  split3_vs_best  split3_vs_winner  split3_sector  split3_sector_rank  split3_sector_vs_best  split3_sector_vs_winner  split4_rank  split4_vs_best  split4_vs_winner  split4_sector  split4_sector_rank  split4_sector_vs_best  split4_sector_vs_winner  split5_rank  split5_vs_best  split5_vs_winner  split5_sector  split5_sector_rank  split5_sector_vs_best  split5_sector_vs_winner
0   16  1016              PIERRON Amaury      10      NaN    61.084   189.992   216.245   252.555   279.274       15          118  Finished  10008827283      15.0     200.0   1.0    NaN  60.602  185.501  211.297  247.279  274.452   54.0        7.0  Finished   215.0            7.0             1.854               0.000            7.0             4.596               0.000          128.908                   8.0                    4.321                      0.000            8.0             5.888               0.000           26.253                  25.0                    1.292                      0.000            7.0             5.526               0.000           36.310                   6.0                    1.102                      0.000           10.0             5.492               0.000           26.719                  34.0                    1.030                      0.000          8.0           1.460             0.000          1.0           0.000             0.000        124.899                 1.0                  0.000                    0.000          1.0           0.000             0.000         25.796                 1.0                  0.000                    0.000          1.0           0.000             0.000         35.982                 5.0                  0.461                    0.000          1.0           0.000             0.000         27.173                26.0                  1.215                    0.000
1   10  1010               VERGIER Loris       3      NaN    61.204   187.249   212.537   248.952   274.898        9          124  Finished  10008723112      30.0     160.0   2.0    NaN  60.790  186.001  211.930  248.287  274.722   58.0        3.0  Finished   190.0            9.0             1.974               0.120            3.0             1.853              -2.743          126.045                   2.0                    1.458                     -2.863            3.0             2.180              -3.708           25.288                   4.0                    0.327                     -0.965            4.0             1.923              -3.603           36.415                   7.0                    1.207                      0.105            3.0             1.116              -4.376           25.946                   3.0                    0.257                     -0.773         14.0           1.648             0.188          2.0           0.500             0.500        125.211                 2.0                  0.312                    0.312          2.0           0.633             0.633         25.929                 8.0                  0.133                    0.133          2.0           1.008             1.008         36.357                 9.0                  0.836                    0.375          2.0           0.270             0.270         26.435                 7.0                  0.477                   -0.738
2    8  1008                BROSNAN Troy       4      NaN    60.617   187.408   212.731   248.705   275.030        7          126  Finished  10007307417      25.0     140.0   3.0    NaN  60.101  186.402  212.226  248.301  274.763   57.0        4.0  Finished   165.0            3.0             1.387              -0.467            4.0             2.012              -2.584          126.791                   4.0                    2.204                     -2.117            4.0             2.374              -3.514           25.323                   5.0                    0.362                     -0.930            3.0             1.676              -3.850           35.974                   2.0                    0.766                     -0.336            4.0             1.248              -4.244           26.325                  12.0                    0.636                     -0.394          4.0           0.959            -0.501          4.0           0.901             0.901        126.301                 5.0                  1.402                    1.402          3.0           0.929             0.929         25.824                 2.0                  0.028                    0.028          3.0           1.022             1.022         36.075                 7.0                  0.554                    0.093          3.0           0.311             0.311         26.462                 8.0                  0.504                   -0.711
3   81  1081                WILSON Reece      26      NaN    63.237   194.086   220.562   257.883   284.951       76           57  Finished  10009563271       NaN     125.0   4.0    NaN  61.390  187.453  213.456  249.286  275.775   30.0       31.0  Finished   125.0           46.0             4.007               2.153           25.0             8.690               4.094          130.849                  18.0                    6.262                      1.941           28.0            10.205               4.317           26.476                  36.0                    1.515                      0.223           26.0            10.854               5.328           37.321                  31.0                    2.113                      1.011           26.0            11.169               5.677           27.068                  59.0                    1.379                      0.349         25.0           2.248             0.788          6.0           1.952             1.952        126.063                 4.0                  1.164                    1.164          6.0           2.159             2.159         26.003                10.0                  0.207                    0.207          4.0           2.007             2.007         35.830                 2.0                  0.309                   -0.152          4.0           1.323             1.323         26.489                 9.0                  0.531                   -0.684
4   61  1061                  BRUNI Loic      34      NaN    61.811   198.532   224.543   261.262   287.658       59           74  Finished  10007544358       NaN     110.0   5.0    NaN  60.521  187.518  213.998  250.780  277.039   46.0       15.0  Finished   110.0           16.0             2.581               0.727           46.0            13.136               8.540          136.721                  63.0                   12.134                      7.813           40.0            14.186               8.298           26.011                  15.0                    1.050                     -0.242           36.0            14.233               8.707           36.719                  14.0                    1.511                      0.409           34.0            13.876               8.384           26.396                  15.0                    0.707                     -0.323          7.0           1.379            -0.081          7.0           2.017             2.017        126.997                 7.0                  2.098                    2.098          7.0           2.701             2.701         26.480                25.0                  0.684                    0.684          9.0           3.501             3.501         36.782                15.0                  1.261                    0.800          5.0           2.587             2.587         26.259                 4.0                  0.301                   -0.914
5    9  1009                  HART Danny       2      NaN    60.809   185.396   210.357   247.029   273.870        8          125  Finished  10005470073      40.0      95.0   6.0    NaN  60.734  186.386  212.550  250.051  277.209   59.0        2.0  Finished   135.0            4.0             1.579              -0.275            1.0             0.000              -4.596          124.587                   1.0                    0.000                     -4.321            1.0             0.000              -5.888           24.961                   1.0                    0.000                     -1.292            1.0             0.000              -5.526           36.672                  13.0                    1.464                      0.362            2.0             0.088              -5.404           26.841                  42.0                    1.152                      0.122         12.0           1.592             0.132          3.0           0.885             0.885        125.652                 3.0                  0.753                    0.753          4.0           1.253             1.253         26.164                15.0                  0.368                    0.368          5.0           2.772             2.772         37.501                36.0                  1.980                    1.519          6.0           2.757             2.757         27.158                25.0                  1.200                   -0.015
6   71  1071                 WALKER Matt      27      NaN    62.474   193.761   220.385   258.054   285.274       68           65  Finished  10011016756       NaN      90.0   7.0    NaN  60.504  187.293  213.215  250.435  277.612   29.0       32.0  Finished    90.0           29.0             3.244               1.390           23.0             8.365               3.769          131.287                  23.0                    6.700                      2.379           25.0            10.028               4.140           26.624                  45.0                    1.663                      0.371           27.0            11.025               5.499           37.669                  40.0                    2.461                      1.359           27.0            11.492               6.000           27.220                  66.0                    1.531                      0.501          6.0           1.362            -0.098          5.0           1.792             1.792        126.789                 6.0                  1.890                    1.890          5.0           1.918             1.918         25.922                 7.0                  0.126                    0.126          6.0           3.156             3.156         37.220                27.0                  1.699                    1.238          7.0           3.160             3.160         27.177                27.0                  1.219                    0.004
7   18  1018  GUTIERREZ VILLEGAS Marcelo      12      NaN    62.351   192.255   218.375   255.122   281.077       17          116  Finished  10005855649      13.0      85.0   8.0    NaN  61.269  189.254  215.855  251.704  277.698   39.0       22.0  Finished    98.0           26.0             3.121               1.267           16.0             6.859               2.263          129.904                  14.0                    5.317                      0.996           15.0             8.018               2.130           26.120                  19.0                    1.159                     -0.133           14.0             8.093               2.567           36.747                  17.0                    1.539                      0.437           12.0             7.295               1.803           25.955                   4.0                    0.266                     -0.764         21.0           2.127             0.667         15.0           3.753             3.753        127.985                15.0                  3.086                    3.086         17.0           4.558             4.558         26.601                29.0                  0.805                    0.805         14.0           4.425             4.425         35.849                 3.0                  0.328                   -0.133          8.0           3.246             3.246         25.994                 2.0                  0.036                   -1.179
8    4  1004           BLENKINSOP Samuel       6      NaN    61.779   190.823   216.682   252.882   278.770        4          129  Finished  10004485929      20.0      80.0   9.0    NaN  61.452  189.187  215.381  251.410  277.720   56.0        5.0  Finished   100.0           15.0             2.549               0.695           10.0             5.427               0.831          129.044                   9.0                    4.457                      0.136           10.0             6.325               0.437           25.859                  10.0                    0.898                     -0.394            8.0             5.853               0.327           36.200                   4.0                    0.992                     -0.110            6.0             4.988              -0.504           25.888                   2.0                    0.199                     -0.831         27.0           2.310             0.850         14.0           3.686             3.686        127.735                12.0                  2.836                    2.836         14.0           4.084             4.084         26.194                18.0                  0.398                    0.398         11.0           4.131             4.131         36.029                 6.0                  0.508                    0.047          9.0           3.268             3.268         26.310                 5.0                  0.352                   -0.863
9  138  1138                 MAES Martin       9      NaN    61.771   191.332   216.737   253.168   279.157      129            4  Finished  10009453945      16.0      75.0  10.0    NaN  61.545  188.737  214.603  250.706  277.774   41.0       20.0  Finished    91.0           14.0             2.541               0.687           12.0             5.936               1.340          129.561                  12.0                    4.974                      0.653           11.0             6.380               0.492           25.405                   6.0                    0.444                     -0.848           10.0             6.139               0.613           36.431                   8.0                    1.223                      0.121            9.0             5.375              -0.117           25.989                   5.0                    0.300                     -0.730         30.0           2.403             0.943         12.0           3.236             3.236        127.192                 9.0                  2.293                    2.293         10.0           3.306             3.306         25.866                 4.0                  0.070                    0.070          8.0           3.427             3.427         36.103                 8.0                  0.582                    0.121         10.0           3.322             3.322         27.068                20.0                  1.110                   -0.105

#### Rider Data

Saving the personal information about each racer is much easier as we can just export the entire `Riders` dataset. However, the rows and columns are the wrong way round so the `.T` command *transposes* the information, meaning it basically flips the axes.

In [308]:
df2 = pd.DataFrame( d['Riders'] )
df2 = df2.T
df2['Age'] = [ calculate_age( dt.datetime.strptime( dob[:10], "%Y-%m-%d" ) ) for dob in df2['BirthDate'] ]

Here we can glimpse the first few rows of our `DataFrame` and can check the data looks as we expect

In [309]:
display( df2.head() )

                BirthDate CategoryCode  FamilyName GivenName                Id Nation Outfit          PrintName RaceId RaceNr ScoreboardName StartOrder StartTime      UciCode UciRank   UciRiderId UciTeamCode UciTeamId                   UciTeamName WorldCupRank  Age
1001  1987-12-24T00:00:00           ME        GWIN     Aaron  1196990205528066    USA    WCL         GWIN Aaron      0      1         GWIN A          1  50400000  USA19871224       1  10006516663         YTM      1531                    THE YT MOB            1   30
1002  1996-12-25T00:00:00           ME        SHAW      Luca  1196990205528067    USA    NaN          SHAW Luca      0      2         SHAW L          2  50430000  USA19961225      10  10008813442         SCB      1307          SANTA CRUZ SYNDICATE            2   21
1003  1995-05-02T00:00:00           ME       LUCAS      Dean  1196990205528068    AUS    NaN         LUCAS Dean      0      3        LUCAS D          3  50460000  AUS19950502      11  10008103322         IFR      2029        INTENSE FACTORY RACING            3   23
1004  1988-10-28T00:00:00           ME  BLENKINSOP    Samuel  1196990205528069    NZL    CCh  BLENKINSOP Samuel      0      4   BLENKINSOP S          4  50490000  NZL19881028       8  10004485929         NFR      2013          NORCO FACTORY RACING            4   29
1005  1992-04-30T00:00:00           ME      NORTON   Dakotah  1196990205528070    USA    NaN     NORTON Dakotah      0      5       NORTON D          5  50520000  USA19920430      19  10010038167         UDR      1961  UNIOR/DEVINCI FACTORY RACING            5   26

# Roots and Rain
### Load Data

Similar to the UCI api, we make a request to the server with the previously declared `urlRoots` variable. This time however we simply load the content of the response as text which is actually the HTML code of the web page. We do not do have a nice JSON API to read which means we will not deserialize.

Next we invoke a utility called `BeautifulSoup` to help us extract the data from this messy HTML code

In [310]:
c = requests.post( urlRoots ).content
soup = BeautifulSoup( c, "html.parser" )

### Extract Data

If you look at the Roots and Rain page you'll see it listed in a tabular format. What we do here is find all the rows of that table so we can extract the information we need.

Specifically we are looking for instances of `tr` (table row), with a class that *begins with* `c-` as this is a common denomenator I discovered when looking through the code with the browser inspector

In [311]:
rows = soup.find_all( "tr", class_=lambda x: x and 'c-' in x )

Similar to the UCI data set, here we will iterate over each row in our data set--basically each table row from the web page--and extract the bits we need.

Racer speed is the metric we're interested in, but in order to match that to our existing data set we need a corresponding identifier so we also extract the racer licence number as that exists in both sets and we can match them together: it is the *intersect* between both sets of data.

To summarise:
1. Extract licence number and corresponding speed
2. Import speed to existing DataFrame matching racers by licence

The `if` condition in the middle will exit this block of code once we hit the end of the Elite finishers, seeing as that's all we have in our existing data set so can't match anyone else

In [312]:
for row in rows:
    cells = row.find_all( "td" )
    qspd = cells[7].text[:5]
    spd = cells[12].text[:5]
    qspeed = float( qspd if 0 < len(qspd) else 0 )
    speed = float( spd if 0 < len(spd) else 0 )
    licence = cells[4].text
    bib = int( cells[1].text )
    pos = cells[0].text[8:]
    if "" == pos: break

    # Match rider by UCI licence if present, otherwise fallback to bib
    if len(df2.loc[df2['UciRiderId'] == licence].index.values ):
        rid = int(df2.loc[df2['UciRiderId'] == licence].index.values[0])
    else:
        rid = int( df2.loc[df2['RaceNr'] == bib].index.values[0] )

    # Add speed, and other associated metrics
    dfq.loc[dfq['id'] == rid, 'speed'] = speed
    dfq.loc[dfq['id'] == rid, 'q_speed'] = qspeed
    dfq.loc[dfq['id'] == rid, 'speed_ms'] = float(speed)*(1000/60/60)
    dfq.loc[dfq['id'] == rid, 'speed_ms_vs_best'] = dfq['speed_ms'].max() - dfq.speed_ms
    dfq['speed_rank'] = dfq.speed.rank(method='dense', ascending=False)
    dfq['q_speed_rank'] = dfq.q_speed.rank(method='dense', ascending=False)

As before, we can take another look at how our data is looking, with the `speed` column now containing data

In [313]:
display( dfq.head() )

   bib    id            name  q_rank  q_speed  q_split1  q_split2  q_split3  q_split4  q_split5  q_start  q_start_rev  q_status          uci  q_points  r_points  rank  speed  split1   split2   split3   split4   split5  start  start_rev    status  points  q_split1_rank  q_split1_vs_best  q_split1_vs_winner  q_split2_rank  q_split2_vs_best  q_split2_vs_winner  q_split2_sector  q_split2_sector_rank  q_split2_sector_vs_best  q_split2_sector_vs_winner  q_split3_rank  q_split3_vs_best  q_split3_vs_winner  q_split3_sector  q_split3_sector_rank  q_split3_sector_vs_best  q_split3_sector_vs_winner  q_split4_rank  q_split4_vs_best  q_split4_vs_winner  q_split4_sector  q_split4_sector_rank  q_split4_sector_vs_best  q_split4_sector_vs_winner  q_split5_rank  q_split5_vs_best  q_split5_vs_winner  q_split5_sector  q_split5_sector_rank  q_split5_sector_vs_best  q_split5_sector_vs_winner  split1_rank  split1_vs_best  split1_vs_winner  split2_rank  split2_vs_best  split2_vs_winner  split2_sector  split2_sector_rank  split2_sector_vs_best  split2_sector_vs_winner  split3_rank  split3_vs_best  split3_vs_winner  split3_sector  split3_sector_rank  split3_sector_vs_best  split3_sector_vs_winner  split4_rank  split4_vs_best  split4_vs_winner  split4_sector  split4_sector_rank  split4_sector_vs_best  split4_sector_vs_winner  split5_rank  split5_vs_best  split5_vs_winner  split5_sector  split5_sector_rank  split5_sector_vs_best  split5_sector_vs_winner   speed_ms  speed_ms_vs_best  speed_rank  q_speed_rank
0   16  1016  PIERRON Amaury      10    56.99    61.084   189.992   216.245   252.555   279.274       15          118  Finished  10008827283      15.0     200.0   1.0  57.06  60.602  185.501  211.297  247.279  274.452   54.0        7.0  Finished   215.0            7.0             1.854               0.000            7.0             4.596               0.000          128.908                   8.0                    4.321                      0.000            8.0             5.888               0.000           26.253                  25.0                    1.292                      0.000            7.0             5.526               0.000           36.310                   6.0                    1.102                      0.000           10.0             5.492               0.000           26.719                  34.0                    1.030                      0.000          8.0           1.460             0.000          1.0           0.000             0.000        124.899                 1.0                  0.000                    0.000          1.0           0.000             0.000         25.796                 1.0                  0.000                    0.000          1.0           0.000             0.000         35.982                 5.0                  0.461                    0.000          1.0           0.000             0.000         27.173                26.0                  1.215                    0.000  15.850000          0.000000        15.0          21.0
1   10  1010   VERGIER Loris       3    59.47    61.204   187.249   212.537   248.952   274.898        9          124  Finished  10008723112      30.0     160.0   2.0  57.74  60.790  186.001  211.930  248.287  274.722   58.0        3.0  Finished   190.0            9.0             1.974               0.120            3.0             1.853              -2.743          126.045                   2.0                    1.458                     -2.863            3.0             2.180              -3.708           25.288                   4.0                    0.327                     -0.965            4.0             1.923              -3.603           36.415                   7.0                    1.207                      0.105            3.0             1.116              -4.376           25.946                   3.0                    0.257                     -0.773         14.0           1.648             0.188          2.0           0.500             0.500        125.211                 2.0                  0.312                    0.312          2.0           0.633             0.633         25.929                 8.0                  0.133                    0.133          2.0           1.008             1.008         36.357                 9.0                  0.836                    0.375          2.0           0.270             0.270         26.435                 7.0                  0.477                   -0.738  16.038889          0.000000         9.0           1.0
2    8  1008    BROSNAN Troy       4    57.74    60.617   187.408   212.731   248.705   275.030        7          126  Finished  10007307417      25.0     140.0   3.0  57.60  60.101  186.402  212.226  248.301  274.763   57.0        4.0  Finished   165.0            3.0             1.387              -0.467            4.0             2.012              -2.584          126.791                   4.0                    2.204                     -2.117            4.0             2.374              -3.514           25.323                   5.0                    0.362                     -0.930            3.0             1.676              -3.850           35.974                   2.0                    0.766                     -0.336            4.0             1.248              -4.244           26.325                  12.0                    0.636                     -0.394          4.0           0.959            -0.501          4.0           0.901             0.901        126.301                 5.0                  1.402                    1.402          3.0           0.929             0.929         25.824                 2.0                  0.028                    0.028          3.0           1.022             1.022         36.075                 7.0                  0.554                    0.093          3.0           0.311             0.311         26.462                 8.0                  0.504                   -0.711  16.000000          0.038889        10.0          13.0
3   81  1081    WILSON Reece      26    55.27    63.237   194.086   220.562   257.883   284.951       76           57  Finished  10009563271       NaN     125.0   4.0  56.66  61.390  187.453  213.456  249.286  275.775   30.0       31.0  Finished   125.0           46.0             4.007               2.153           25.0             8.690               4.094          130.849                  18.0                    6.262                      1.941           28.0            10.205               4.317           26.476                  36.0                    1.515                      0.223           26.0            10.854               5.328           37.321                  31.0                    2.113                      1.011           26.0            11.169               5.677           27.068                  59.0                    1.379                      0.349         25.0           2.248             0.788          6.0           1.952             1.952        126.063                 4.0                  1.164                    1.164          6.0           2.159             2.159         26.003                10.0                  0.207                    0.207          4.0           2.007             2.007         35.830                 2.0                  0.309                   -0.152          4.0           1.323             1.323         26.489                 9.0                  0.531                   -0.684  15.738889          0.300000        18.0          38.0
4   61  1061      BRUNI Loic      34    58.01    61.811   198.532   224.543   261.262   287.658       59           74  Finished  10007544358       NaN     110.0   5.0  58.52  60.521  187.518  213.998  250.780  277.039   46.0       15.0  Finished   110.0           16.0             2.581               0.727           46.0            13.136               8.540          136.721                  63.0                   12.134                      7.813           40.0            14.186               8.298           26.011                  15.0                    1.050                     -0.242           36.0            14.233               8.707           36.719                  14.0                    1.511                      0.409           34.0            13.876               8.384           26.396                  15.0                    0.707                     -0.323          7.0           1.379            -0.081          7.0           2.017             2.017        126.997                 7.0                  2.098                    2.098          7.0           2.701             2.701         26.480                25.0                  0.684                    0.684          9.0           3.501             3.501         36.782                15.0                  1.261                    0.800          5.0           2.587             2.587         26.259                 4.0                  0.301                   -0.914  16.255556          0.000000         5.0          10.0

# Data Export

All that's left is to save our data to CSV files so we can quickly import it again for analysis and visualization without making constant requests to the online servers. This not only reduces load on the services providing the data, but also allows us to work on our analysis "offline", moreover giving us a local copy in case the results are ever taken down. It's also much quicker to load data this way than constantly hitting online servers.

In [314]:
dfq.id = dfq.id.astype(str)
dfm = dfq.merge( df2, left_on='id', right_index=True, how='inner' )

In [315]:
df.to_csv( file_prefix + '.results.csv' )
dq.to_csv( file_prefix + '.quali.csv' )
df2.to_csv( file_prefix + '.racers.csv' )
dfm.to_csv( file_prefix + '.merged.csv' )

--- 

## Credits

### Author: Dominic Wrapson


> **@domwrap**
<br>
<img src="https://png.icons8.com/material/24/000000/github-2.png">
<img src="https://png.icons8.com/material/24/000000/stackoverflow.png">
<img src="https://png.icons8.com/material/24/000000/linkedin.png">
<img src="https://png.icons8.com/material/24/000000/windows8.png">
<img src="https://png.icons8.com/ios-glyphs/24/000000/instagram-new.png">
<img src="https://png.icons8.com/material/24/000000/twitter.png">
<a href="https://medium.com/@domwrap"><img src="https://png.icons8.com/material/24/000000/medium-logo.png"></a>
>
> <img src="https://png.icons8.com/material/24/000000/home.png"> http://domwrap.me
>
><img src="https://png.icons8.com/material/24/000000/cycling-mountain-bike.png"> [Hwulex](https://www.pinkbike.com/u/Hwulex/)


---

#### Special Thanks

Mark Shilton for the inspiration
- http://lookatthestats.blogspot.ca
- https://plus.google.com/+MarkShilton
- https://dirtmountainbike.com/author/mrgeekstats


<a href="https://icons8.com">Icon pack by Icons8</a>